.container {
  margin: 20px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  color: #333333;
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Lato', Helvetica, sans-serif;
  /*font-family: 'Nixie One', cursive;*/

}
th {
  text-align: left;
}

h2{
	font-size: 100px;
}




/*@font-face
{
font-family: myFirstFont;
src: url('Sansation_Oblique.ttf'),
     url('Sansation_Oblique.eot'); /* IE9 */
}
*/


body {
	background-color: black;
}





















