.container {
  margin: 20px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  color: #333333;
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Lato', Helvetica, sans-serif;
  /*font-family: 'Nixie One', cursive;*/
  background-image: none;

}
th {
  text-align: left;
}

h2{
	font-size: 100px;
}

a {
  text-decoration: none;
}


.page_title {
  margin-left: 175px;
  font-size: 30px;
}

/*body {
  background-image:url();
}

*/
/*@font-face
{
font-family: myFirstFont;
src: url('Sansation_Oblique.ttf'),
     url('Sansation_Oblique.eot'); /* IE9 */
}
*/


body {
	background-color: black;
}




.post_list {
  margin-left: 320px;
  padding-top: 100px;
}
















