<div class="container">


  <h2>create a post</h2>

  <div>
    <form action="/create_post" method="POST" id="post_body_input_field" >
      <label>post title<input type="text" id="post_title_input_field" name="title"></label>
      <br>
      <br>
      <textarea form="post_body_input_field" rows="10" cols="50" name="body">
    </textarea>
      <input type="submit">

    </form>
  </div>

</div>








