
<body>
<div class="container">
  <h2>the future is endless</h2>
  <h3>come a long for the ride friend<a href="/create_post"> create a post</a></h3>

  <ul>
    <% @posts.each do |post| %>

    <li><a href="/<%= post.id%>" > <%= post.title %> </a> </li>

    <% end %>
  </ul>
</div>



</body>












